.cit-toolbar {
    .btn-group {
        margin-left: 15px;
    }
}

.cit-body {
    margin:0px;
    height: 100%;
    padding:10px;
    background-color: white;

}

.cit-postings {
    margin-top:10px;
    float:left;
    width: calc(100% - 425px);

    .cit-postings-search {
        width:16em;
        margin:0px 0px;
        padding:0px 0px;
    }

    border:1px solid #ececec;
    padding:5px 10px;
}


.cit-story {
    margin-top:10px;
    width: 425px;
    float: left;

    border:1px solid #ececec;
    padding:5px 10px;
}

.citSetup {
    .setupRow {
        padding:5px 5px 10px;

        label {
            display: block;   
        }
    }
}

.status-selector {
    padding-left:25px;
    font-size: 1.25em;
    li {
        line-height: 2;
    }
}

.comment-col {
    min-width: 400px;

    @media (max-width :1900px) {
        width: 400px;
    }
}

.cit-toolbar-inline {
    .filter-group {
        position: relative;
        display: inline-block;
    }
}


.modal-body {
    .filter-group {
        position: relative;
        display: block;     
        padding-bottom:10px;

        .spblk {
            width: 8em;
            display: inline-block;
        }
    }
}