<div class="page">
    <div class="header" style="position: relative;">
	
		<div class="toolbar">
			<a href ng-click="onBack()"><i class="fas fa-undo bigger"></i></a> 

			<span uib-dropdown ng-show="isAdmin()">
				<a href class="toolbar-item" uib-dropdown-toggle><i class="fas fa-ellipsis-v bigger"></i></a>
				<ul class="dropdown-menu">
					<li><a href ng-click="onPatchBalance(calcOpenBalance() - total)"> Patch as Zero Balance</a></li>
					<li><a href ng-click="onRebuild()"> Rebuild</a></li>
				</ul>
			</span>
		</div>
		
		<div class="btn-group" style="padding-left:20px; padding-top:10px;margin:-5px 0px 0px 15px; position:absolute; right:150px">
			<div class="btn-group" style="width:12em">
				<kpi-stat color="'bg-grey'" value="total | currency" text="'Balance'"></kpi-stat>
			</div>
		</div>

		<div class="btn-group" style="margin:5px 0px 0px 15px; position:absolute; right:25px">	
			<icon-tray menu="menuOptions"></icon-tray>
		</div>
	</div>
	

    <div class="cit-body">
		<div class="row">
			<div class="col-xs-12 col-md-4 col-lg-3">
				<contact-card contact="deal.contact"></contact-card>
			</div>
	
			<div class="col-xs-12 col-md-4 col-lg-3">
				<deal-vehicle-card vehicle="deal.vehicle"></deal-vehicle-card>
			</div>

			<div class="col-xs-12 col-md-4 col-lg-3">
				<cit-status contract="cit" on-change="onContractChange()"></cit-status>
			</div>
		</div>

		<div class="cit-postings">
			<div class="cit-postings-search">
				<input autofocus="autofocus" class="form-control" placeholder="Search...." ng-model="searchText">
			</div>

			<div id="tblHeader" class="table-header">
				<table class="table no-margin table-hover" style="table-layout: fixed;">
	
					<thead>
						<tr ng-show="calcOpenBalance()">
							<th class="width2"></th>
							<th class="width5"></th>
							<th class="width8"></th>
							<th class="width8"></th>
							<th class="width16 money" colspan="2"> <span style="font-weight: normal; margin-right:10px">Begin</span> {{calcOpenBalance()}}</th>
							<th></th>
						</tr>
						<tr class='table_header'>
							<th class="width2"><col-sort name="'Src'" field="'journalSourceCode'" field-type="'string'" ></col-sort></th>
							<th class="width5">Acct #</th>
							<th class="width8"><col-sort name="'Date'" field="'transactionDate'" field-type="'string'" ></col-sort></th>
							<th class="width8"><col-sort name="'Ref #'" field="'referenceNumber'" field-type="'string'" ></col-sort></th>
							<th class="width8"><col-sort name="'Control 2'" field="'applyTo'" field-type="'string'" ></col-sort></th>
							<th class="width8 money"><col-sort name="'Amount'" field="'amount'" field-type="'numeric'" ></col-sort></th>
							<th>Comment</th>
						</tr>
					</thead>
				</table>
			</div>
			
			<div id="tblData" class="table-body">
				<table class="table no-margin table-hover" style="table-layout: fixed;">
					<tbody>
						<tr ng-repeat="record in detail.reportDetail | filter:searchText">
							<td class="width2">{{record.journalSourceCode}}</td>
							<td class="width5">{{record.accountNumber}}</td>
							<td class="width8">{{record.transactionDate| date:'MM/dd/yy'}}</td>
					
							<td class="width8">{{record.referenceNumber}}</td>
							<td class="width8">{{record.applyTo}}</td>
							<td class="width8" ng-class="record.amount < 0 ? 'money-red' : 'money'">{{record.amount | currency}}</td>
		
							<td >{{record.comment}}</td>
					
						</tr>
	
					</tbody>
				</table>
			</div>
		</div>

		<div class="cit-story">
			<schedule-comments comments="comments" on-comment="onComment(comment)"></schedule-comments>
		</div>
		
		<fx-spinner></fx-spinner>
    </div>
</div>