<div class="page">

	<div class="header" style="position: relative;">
		
		<div class="title">
			Contracts In Transit		
		</div>

		<div style="position:absolute;top:40px; left:25px;font-size:.8em">
			<span >Last Refreshed : {{lastRefreshed | date:'short'}}</span>
		</div>	

		<div class="btn-group">
			<input autofocus="autofocus" class="form-control" placeholder="Search...." ng-model="searchText" ng-enter="onSearch(searchText)">
		</div>

		<cit-toolbar is-tablet-mode="isTabletMode" cit-setup="citSetup"></cit-toolbar>

		<div class="btn-group" style="padding-left:20px; padding-top:10px;margin:-5px 0px 0px 15px; position:absolute; right:200px">
			<div class="btn-group" style="width:12em">
				<kpi-stat color="'bg-grey'" value="totalBalance | currency:undefined:0" text="totalContracts + ' Contracts'"></kpi-stat>
			</div>

			<div class="btn-group" style="width:12em">
				<kpi-stat color="'bg-red'" value="agedBalance | currency:undefined:0" 
					text="agedContracts + ' over ' + agedDays + ' days'"></kpi-stat>
			</div>

			<div class="btn-group" style="width:6em" ng-if="showDaysToFund()">
				<kpi-stat color="'bg-blue'" value="daysToFund | number:1" 
					text="'Days Fund'"></kpi-stat>
			</div>
		</div>

		<div class="btn-group pr5" style="margin:5px 0px 0px 15px; position:absolute; right:25px">
			<icon-tray menu="menuOptions"></icon-tray>
		</div>
	</div>
	
	<div ng-show="refreshing" class="alert alert-info" role="alert" style="max-width: 600px; margin: auto;">
		<i class="fas fa-spinner fa-spin"></i> Refreshing Data
	</div>

	<div class="" style="margin:0px">
		<div id="tblHeader" class="table-header" style="margin-top:25px;overflow: hidden; border-bottom:1px solid #e9e9e9">
			<table class="table no-margin table-hover" style="table-layout: fixed;">
				<thead>
					<tr class='table_header'>
						<th style="width:5px;padding:0px"></th>
						<th ng-if="showLocationId" class="width4"><col-sort name="'Loc'"  field="'locationId'" field-type="'string'"></col-sort></th>
						<th ng-if="citSetup.doTrackStatus" class="width8"><col-sort name="'Status'"  field="'citStatus'" field-type="'string'"></col-sort></th>
						<th ng-if="citSetup.doStatus2" class="width8"><col-sort name="'Status 2'"  field="'citStatus'" field-type="'string'"></col-sort></th>
						<th class="width4"><col-sort name="'Acct #'" field="'accountNumber'" field-type="'string'"></col-sort></th>
						<th ng-if="showField('controlNumber')" class="width8"><col-sort name="'Control #'"  field="'controlNumber'" field-type="'string'"></col-sort></th>
						<th class="width8"><col-sort name="'Deal #'"  field="'dealNumber'" field-type="'string'"></col-sort></th>
						<th class="width8"><col-sort name="'Date'" field="'dealDate'" field-type="'string'"></col-sort></th>
						<th class="width4"><col-sort name="'Age'"   field="'age'" field-type="'numeric'"></col-sort></th>
						<th class="width8"><col-sort name="'Stock #'"  field="'stockNumber'" field-type="'string'"></col-sort></th>
	
						<th class="width12"><col-sort name="'Customer'"  field="'controlDescription'" field-type="'string'"></col-sort></th>
	
						<th class="width8 money"><col-sort name="'Balance'" field="'balance'" field-type="'numeric'"></col-sort></th>
						<th ng-if="showField('floorPlan')" class="width8 money"><col-sort name="'Floor'" field="'floorPlan'" field-type="'numeric'"></col-sort></th>
	
						<th class="width8"><col-sort name="'Lender'"  field="'lenderName'" field-type="'string'"></col-sort></th>
						<th ng-if="showField('salesPersonName')" class="width8"><col-sort name="'Sls'"  field="'fiMgrName'" field-type="'string'"></col-sort></th>
						<th class="width8"><col-sort name="'FI Mgr'"  field="'fiMgrName'" field-type="'string'"></col-sort></th>
						<th class="comment-col"><col-sort name="'Comment'"  field="'comment.body'" field-type="'string'"></col-sort></th>
					</tr>
				</thead>
			</table>
		</div>
		<div id="tblData" class="table-body">
			<table class="table no-margin table-hover" style="table-layout: fixed;">
	
				<tbody>
					<tr ng-repeat="contract in contracts| filter:showContract" ng-class="isAged(contract) ? 'highlight' : '' ">
						<td style="width:5px;padding:0px" ng-class="getStatusColor(contract)"></td>
						<td ng-show="showLocationId" class="width4">{{formatLocationId(contract.locationId)}}</td>
						<td ng-if="citSetup.doTrackStatus" class="width8" ng-class="{'centered' : !contract.citStatus}">
							<a ng-show="contract.citStatus" href ng-click="onUpdateStatus(contract)">{{contract.citStatus}}</a>
							<a ng-hide="contract.citStatus" href ng-click="onUpdateStatus(contract)"> - </a>
						</td>
						<td ng-if="citSetup.doStatus2" class="width8" ng-class="{'centered' : !contract.citStatus2}">
							<a ng-show="contract.citStatus2" href ng-click="onUpdateStatus2(contract)">{{contract.citStatus2}}</a>
							<a ng-hide="contract.citStatus2" href ng-click="onUpdateStatus2(contract)"> - </a>
						</td>
						<td class="width4">{{contract.accountNumber}}</td>
						<td ng-if="showField('controlNumber')"  class="width8">{{contract.controlNumber}}</td>
						<td class="width8"><a href ng-click="onDeal(contract)">{{contract.dealNumber}}</a></td>
						<td class="width8">{{contract.dealDate| date:'MM/dd/yy'}}</td>
						<td class="width4 money">{{contract.age}}</td>
						<td class="width8"><a href ng-click="onVehicle(contract)">{{contract.stockNumber}}</a></td>
						<td class="width12">{{contract.controlDescription}}</td>
						<td class="width8 money">
							<a href ng-class="contract.balance < 0 ? 'df-red' : 'df-black'" ng-click="onDetail(contract)">{{contract.balance | currency}}</a></td>
						<td ng-if="showField('floorPlan')"  class="money width8">{{contract.floorPlan   | currency}}</td>
						<td class="width8">{{contract.lenderName}}</td>
						<td ng-if="showField('salesPersonName')" class="width8">{{contract.salesPersonName | limitTo:8}}</td>
						<td class="width8">{{contract.fiMgrName | limitTo:8}}</td>
						<td class="comment-col"><div class="comment comment-cozy" ng-class="{'comment-small': isTabletMode}">
							<comment-man comment="contract.comment" oncomment="onComment(id, comment, contract)" onviewall="onViewAll(id, contract)" id="contract.id"></comment-man>
							</div>
						</td>
					</tr>
	
				</tbody>
			</table>
		</div>
	</div>

	<fx-spinner></fx-spinner>
</div>

	
