<div class="page">
    <div class="header">
        <div class="toolbar">
            <a ng-click="onCancel()"><i class="fas fa-undo fx-bigger"></i></a> 
        </div>
    </div>

    <div>
        <deal-work-sheet deal="deal"></deal-work-sheet>
    </div>

    <fx-spinner></fx-spinner>
</div>